gunicorn==20.1.0
python-telegram-bot==20.0
openai==1.6.1
Flask==2.2.2
Flask[async]==2.2.2
werkzeug==2.2.2
python-dotenv==1.0.0
nest-asyncio==1.5.8
langchain==0.0.148
python-magic==0.4.27 
PyPDF2==3.0.0         
docx==0.2.4
